/* common shared styles */
* {
  font-family: "Lora", serif;
  font-family: "Open Sans", sans-serif;
}
/* header related styles */
.header {
  background-color: rgba(229, 84, 115, 0.1);
  margin: 0px;
  max-width: 1900px;
}
.header {
  display: flex;
}
.banner-image {
  width: 400px;
  height: 500px;
  /* margin-top: 50px; */
  padding: 50px 200px 0px 200px;
}
.banner {
  padding: 100px 0px 0px 200px;
}
.banner-tittle {
  width: 400px;
  font-weight: 700;
  color: #272727;
  font-size: 40px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  gap: 10px;
  border: 0;
  color: white;
  margin-top: 20px;
  font-size: 20px;
}

/* .container {
  display: contents;
  /* flex-direction: column; */
/* }  */

/* img {
  width: 100%;
  height: auto;
} */

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: black;
}
/* Our Featured Flowers related styles */
.Our-Featured-Flowers {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.featured-tittle {
  text-align: center;
  color: #272727;
  font-family: Lato;
  font-size: 20px;
  font-weight: 800;
  margin-top: 100px;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  justify-content: center;
}
.featured {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  max-width: 1200px;
  /* padding-left: 250px; */
  margin: auto;
  gap: 20px;
}

.featured-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* gap: 10px; */
}

.bg-image {
  border-radius: 300px 300px 0px 0px;
  width: 300px;
  height: 370px;
  /* align-items: center; */
  /* justify-content: center;
  align-content: center; */
  /* margin: 40px 40px; */
}

.image1 {
  background-color: rgba(167, 33, 98, 0.15);
}
.image2 {
  background-color: rgba(5, 151, 160, 0.15);
}
.image3 {
  background-color: rgba(71, 125, 17, 0.15);
}

.featured-image-one {
  width: 200px;
  height: 300px;
  margin: auto;
  display: block;
  margin-top: 70px;
}

.featured-image-two {
  width: 200px;
  height: 300px;
  margin: auto;
  display: block;
  margin-top: 70px;
}
.featured-image-three {
  width: 200px;
  height: 300px;
  margin: auto;
  display: block;
  margin-top: 70px;
}

.featured-item-tittle {
  text-align: center;
  color: #272727;
  font-family: Lato;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
}
/* hot deal section styles */
.Hot-Deal {
  display: flex;
  margin-top: 100px;
  max-width: 1900px;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
  gap: 100px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 100px 0px;
}
.hot-deal-writings {
  margin-left: 200px;
}

.hot-deal-tittle {
  color: #272727;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  /* padding-top: 100px; */
  /* padding-left: 150px; */
}
.off {
  color: #e55473;
}
.hot-deal-tittle-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  /* padding-left: 150px; */
}
.Sign-Up {
  border-radius: 8px;
  background-color: #e55473;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  display: inline-flex;
  padding: 20px 43px;
  align-items: center;
  gap: 10px;
  border: 0;
  text-align: center;
}
.btn-signup {
  text-align: center;
  /* padding-left: 150px; */
  margin-top: 30px;
}
.hot-deal-item {
  /* padding-right: 200px; */
  margin-right: 200px;
}
.hot-deal-image {
  width: 100%;
  /* padding-top: 200px; */
}
/* instagram related styles */
.f-1 {
  width: 240px;
}
.f-2 {
  width: 240px;
  padding-left: 10px;
}
.f-3 {
  width: 240px;
  padding-left: 10px;
}
.f-4 {
  width: 240px;
  padding-left: 10px;
}
.instagram-item {
  max-width: 1800px;
  text-align: center;
  padding-left: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 15px; */
  /* margin: auto; */
}

/* Get The Latest Deals styles */
.Latest-Deals {
  background-image: url("../Flower-Asset/Rectangle\ 9.png");
  border-radius: 8px;
  width: 1000px;
  height: 380px;
  flex-shrink: 0;
  margin: auto;
  margin-top: 100px;
}
.latest-item {
  text-align: center;
  padding-top: 100px;
}
.latest-item {
  color: #272727;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 0px;
}
.deals-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: -15px;
}
.email {
  width: 400px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  margin-left: 50px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}
.btn-submit {
  width: 200px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #e55473;
  width: 100px;
  border: 0;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #ffffff;
}

